.nav-container {
    width: 89%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $mediumGray;

    .desktopNav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        height: 100%;
        &__dropMenu{
            position: relative;
        }
        &__menuBtn{
            font-weight: bold;
            font-size: inherit;
            height: 15px;
            &:hover{
                color: $almostBlack;
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            z-index: 10;
            padding: 2.3rem 1.9rem;
            margin-top: 1rem;
            background: white;
            border-radius: 7px;
            box-shadow: rgba(0, 0, 0, 0.145) 4px 13px 20px 10px;
            >:nth-child(-n + 3){
                margin-bottom: 1.2rem;
            }
            &--features{
                left: -120%;
            }
            &--company{
                left: -50%;
            }
            &--hidden{
                display: none;
            }
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            .link-icon {
                margin-right: 1rem;
                width: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__navLink{
            font-weight: bold;
            &:hover{
                color: $almostBlack;
            }
        }
    }

    .logNav {
        height: 100%;
        width: 20%;
        padding-right: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: inherit;
        font-weight: bold;


        &__register{
            border: .75px solid $mediumGray;
            padding: 1rem 2.75rem;
            border-radius: 15px;
        }
    }
}